<h1>Add a Figure</h1>

<form action="/figures" method="POST">
  <label for="figure[name]">Figure Name: </label>
  <input type="text" name="figure[name]" id="figure_name" value=""><br />

  <label for="title[name]">New Title: </label>
  <input type="text" name="title[name]" id="new_title" value=""><br />

  <label for="landmark[name]">New Landmark: </label>
  <input type="text" name="landmark[name]" id="new_landmark" value=""><br />

  <h2>Existing Titles:</h2>
  <% Title.all.each do |title| %>
    <label for"title_<%= title.id %>"><%= title.name %></label>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>">
  <%end%>

  <h2>Existing Landmarks:</h2>
  <% Landmark.all.each do |landmark| %>
    <label for"landmark_<%= landmark.id %>"><%= landmark.name %></label>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>">
  <%end%>

    <input type="submit" value="Create New Figure" id="submit">
</form>
